client/AmbiLightClient/.vs/AmbiLightClient/v15/Browse.VC.db
client/AmbiLightClient/.vs/AmbiLightClient/v15/Browse.VC.opendb
client/AmbiLightClient/.vs/AmbiLightClient/v15/ipch/30f1c3647ca3a087.ipch
client/AmbiLightClient/AmbiLightClient/Debug/AmbiLightClient.tlog/
client/AmbiLightClient/AmbiLightClient/Debug/vc141.idb
